<p id="notice"><%= notice %></p>

<h1><%=_('Children')%></h1>
<%x='this is a dynamic translation which was found through gettext_test_log!'%>
<%=_(x)%>

<%= _('test html_safe %{x}') %{:x => link_to('x', '/')} %>

<table>
  <thead>
    <tr>
      <th><%= _('Name')%></th>
      <th><%= _('Description')%></th>
      <th><%= _('Picture')%></th>
      <th><%= _('Email')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Child.all.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.description %></td>
        <td><%= child.picture %></td>
        <td><%= child.email %></td>
        <td><%= link_to _('Show'), child %></td>
        <td><%= link_to _('Edit'), edit_child_path(child) %></td>
        <td><%= link_to _('Destroy'), child, method: :delete, data: { confirm: _('Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to _('New Child'), new_child_path %>
<br>
<%= render 'children/language' %>
