<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('Name')%></strong>:<%= @child.name %>

</p>

<p>
  <strong><%=t('Description')%></strong>:<%= @child.description %>

</p>

<p>
  <strong><%=t('Email')%></strong>:<%= @child.email %>

</p>

<p>
  <strong><%= t('Picture')%></strong>:
  <%= image_tag(@child.picture_url,width:600) if @child.picture.present? %>
</p>

<%= link_to t('Edit'), edit_child_path(@child) %> |
<%= link_to t('Back'), children_path %>
