<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Name')%></strong>:<%= @child.name %>

</p>

<p>
  <strong><%=_('Description')%></strong>:<%= @child.description %>

</p>

<p>
  <strong><%=_('Email')%></strong>:<%= @child.email %>

</p>

<p>
  <strong><%= _('Picture')%></strong>:
  <%= image_tag(@child.picture_url,width:600) if @child.picture.present? %>
</p>

<%= link_to _('Edit'), edit_child_path(@child) %> |
<%= link_to _('Back'), children_path %>
