
<%= form_for :child, :url => {:action => 'register'} do |f| %>
  <p>
    <%= t('Username')%>: <%= f.text_field :name %>
  </p>

  <p>
    <%= t('Email')%>: <%= f.text_field :email %>
  </p>

  <p>
    <%= t('Password')%>: <%= f.password_field :password %>
  </p>

  <p>
    <%= t('Confirm Password')%>: <%= f.password_field :password %>
  </p>

  <div class="actions">
    <%= submit_tag t('Register')%>
  </div>
<% end %>
